.footer{
    width: 100%;
    padding: 7vw 13.2vw;
    padding-bottom: 8vw;
    background: linear-gradient(180deg, #13403A 0%, #0B5047 100%);
    position: relative;
    display: grid;
    grid-template-columns: 27% 24% 24% 25%;
}
.divider{
    width: 100%;
    height: .65vw;
    background: #DAC2A8;
    position: absolute;
    top: 0;
    left: 0;
}
.footer_company img{
    width: 10vw;
    filter: brightness(0) invert(1);
    margin-bottom: 1.3vw;
}
.footer_company p{
    font-size: 1.1vw;
    color: white;
    font-weight: 300;
    margin-bottom: 1vw;
    padding-right: 4vw;
}
.footer_contact{
    text-align: start;
}

.social_media{
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
}
.social_media_box{
    border: .1vw solid white;
    width: 2.4vw;
    height: 2.4vw;
    position: relative;
    border-radius: 100vw;
}
.social_media_box svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #DAC2A8;
    font-size: 1vw;
}

.footer_menu h3{
    font-size: 1.4vw;
    font-weight: 400;
    color: white;
}
.footer_contact h3{
    font-size: 1.4vw;
    font-weight: 400;
    color: white;
}
.divider_list{
    width: 3.7vw;
    height: .15vw;
    background-color: #DAC2A8;
    border-radius: 100vw;
    margin: 1vw 0;
}
.footer_menu{
    margin-left: 3vw;
}
.footer_menu ul li{
    list-style: none;
    font-size: 1.1vw;
    color: white;
    font-weight: 300;
    margin-bottom: .94vw;
}
.footer_menu a{
    text-decoration: none;
}

.footer_contact p{
    font-size: 1.1vw;
    color: white;
    margin-bottom: 1.2vw;
    font-weight: 300;
}

.copyright{
    background: transparent;
    text-align: center;
    padding: 1.6vw 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.copyright span{
    font-size: 1vw;
    color: white;
    font-weight: 300;
}
@media (max-width:768px) {
    .footer{
        padding: 10vw 5vw;
        padding-bottom: 4vw;
        grid-template-columns: 100%;
        grid-gap: 7vw;
    }
    .divider{
        height: 2vw;
    }
    .footer_company img{
        width: 40vw;
        margin-bottom: 4vw;
    }
    .footer_company p{
        font-size: 4vw;
        margin-bottom: 2.3vw;
        padding-right: 4vw;
    }

    .social_media{
        gap: 3.5vw;
        margin-top: 5vw;
    }
    .social_media_box{
        border: .12vw solid white;
        width: 8.5vw;
        height: 8.5vw;
    }
    .social_media_box svg{
        font-size: 4vw;
    }

    .footer_menu h3{
        font-size: 4.5vw;
    }
    .divider_list{
        width: 12vw;
        height: .75vw;
        border-radius: 100vw;
        margin: 3.6vw 0;
    }
    .footer_menu{
        margin-left: 0;
    }
    .footer_menu ul li{
        font-size: 4.2vw;
        margin-bottom: 3vw;
    }
    .footer_contact p{
        font-size: 4.2vw;
        margin-bottom: 2.3vw;
        text-align: start;
    }

    .copyright{
        padding: 4.6vw 0;
    }
    .copyright span{
        font-size: 3.8vw;
    }
}