@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--heading);
}

:root{
  --font: 'Helvetica Neue', sans-serif;
  --heading: "Rubik", sans-serif;
}

body{
  background: #F6F6FB;
}

.mySwiper .swiper-wrapper{
  padding-bottom: 4vw;
}

.mySwiper .swiper-wrapper .swiper-slide{
  padding: 0 1.2vw;
}

.swiper-pagination-bullet {
  width: .5vw !important;
  height: .5vw !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: .1 !important;
  margin: 0 .3vw !important;
  border-radius: 100vw !important;
  transition: .4s all;
}

.swiper-pagination-bullet-active{
  width: 2.2vw !important;
  background: radial-gradient(50% 50% at 50% 50%, #68B2F1 0%, #3FA2F6 100%) !important;
  opacity: 1 !important;
}

@media (max-width:768px) {
  .mySwiper .swiper-wrapper{
    padding-bottom: 10vw;
  }
  .swiper-pagination-bullet {
    width: 1.5vw !important;
    height: 1.5vw !important;
    margin: 0 .7vw !important;
  }
  
  .swiper-pagination-bullet-active{
    width: 5vw !important;
  }
}