/* Header.module.css */

.header {
    position: absolute;
    top: 3vw;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.8vw 6.2vw;
    z-index: 10;
    gap: 6.3vw;
}

.logo img {
    width:13vw;
}

.hamburger{
    display: none;
}

.nav_wrapper{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 2.2vw;
    align-items: center;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.7vw;
}

.nav ul li {
    font-size: 1.4vw;
    font-family: var(--heading);
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #283535;
    transition: all 0.3s ease;
}

.nav button{
    background-color: transparent;
    border: .12vw solid white;
    color: white;
    padding: .63vw 2.4vw;
    cursor: pointer;
    border-radius: .8vw;
    font-size: 1.28vw;
}
.btn_login{
    color: white !important;
    text-decoration: none;
}

.nav .closeMenu{
    display: none;
  }

.nav ul li span{
    display: flex;
    align-items: center;
    gap: .1vw;
}

.nav ul li span svg{
    font-size: 1.2vw;
}

.nav ul li a:hover {
    color: #356A6A;
}

.nav ul li.active a {
    color: #356A6A; /* Active menu item color */
}

.nav ul li ul li:nth-child(4) a{
    color: inherit;
}

.dropdown_menu {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 5.8px 0 #00000040;
    z-index: 1;
    padding: 1.2vw;
    padding-right: 1.5vw;
    border-radius: 1vw;
}

.dropdown_menu.active {
    display: block;
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .7vw;
}

.dropdown_menu ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.dropdown_menu ul li a:hover {
    color: #0070f3;
}

@media (max-width:768px) {
    .header{
        padding: 4vw 5vw;
        justify-content: space-between;
    }
    .logo img {
        width:35vw;
    }
    .nav{
        border-right: 1.5vw solid #DAC2A8;
        position: fixed;
        left: 0;
        top: 0;
        width: 65%;
        height: 100%;
        background: linear-gradient(270deg, #4B847D 0%, #21635B 100%);
        z-index: 1000;
        padding: 4vw;
        padding-right: 5.6vw;
        z-index: 10;
        transform: translateX(-500%);
        transition: .7s all;
    }
    .hamburger{
        outline: none;
        display: block;
        border: none;
        background-color: transparent;
    }
    .hamburger svg{
        font-size: 7.5vw;
        color: #4B847D;
    }
    .nav_wrapper{
        background-color: rgba(0, 0, 0, 0.562);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(150%);
        transition: .7s all;
        opacity: 0;
    }
    .nav_wrapper.active{
        opacity: 1;
        transform: translateX(0);
    }
    
    .nav_wrapper.active .nav{
        transform: translateX(0);
    }

    .closeMenu{
        display: block !important;
        position: absolute;
        right: -13vw;
        top: 3vw;
        background: linear-gradient(270deg, #4B847D 0%, #21635B 100%) !important;
        width: 9vw;
        outline: none;
        border: .13vw solid #DAC2A8 !important;
        height: 9vw;
        border-radius: 100vw !important;
      }
    .closeMenu svg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 6.9vw;
        color:#DAC2A8;
    }
    .nav{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2.4vw;
        align-items: start;
    }
    .nav ul {
        list-style-type: none;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        gap: 0;
        width: 100%;
    }
    .nav ul li {
        font-size: 4.8vw;
        padding: 5vw 0;
        border-bottom: .12vw solid #DAC2A8;
        width: 100%;
    }
    .nav ul li a {
        color: white;
    }
    .nav ul li span svg{
        font-size: 4.2vw;
    }
    
    .nav ul li a:hover {
        color: #DAC2A8;
    }
    
    .nav ul li.active a {
        color: #DAC2A8; /* Active menu item color */
    }
    .nav ul li span{
        color: white;
        gap: .3vw;
    }
    .dropdown_menu {
        position: relative;
        display: inherit;
        max-height: 0;
        background-color: #2c5853;
        box-shadow: none;
        z-index: 1;
        padding: 0;
        padding-right: 0;
        border-radius: 3vw;
        margin-top: 0;
        transition: .4s all;
        overflow: hidden;
    }
    .dropdown_menu.active {
        display: inherit;
        padding: 4vw;
        padding-right: 1.5vw;
        max-height: 500px;
        margin-top: 5vw;
    }
    .dropdown_menu ul li{
        border-bottom: 0;
        padding: 0;
    }
    .dropdown_menu.active ul{
        display: flex;
        flex-direction: column;
        gap: 4vw;
    }
    .dropdown_menu ul li a {
        text-decoration: none;
        color: white !important;
        transition: all 0.3s ease;
    }
    .btn_login button{
        margin-top: 4vw;
        padding: 2vw 6vw !important;
        font-size: 4.5vw;
    }
}