/* Header.module.css */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 13.2vw;
    z-index: 10;
}

.logo img {
    width:10vw;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2.4vw;
}

.nav ul li {
    font-size: 1.3vw;
    font-family: var(--heading);
    font-weight: 400;
    cursor: pointer;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #1E1E1E;
    transition: all 0.3s ease;
}
.nav ul li:nth-child(4) a, .nav ul li:nth-child(5) a{
    color: white;
}

.nav ul li span{
    display: flex;
    align-items: center;
    gap: .3vw;
}

.nav ul li span svg{
    font-size: 1.2vw;
}

.nav ul li a:hover {
    color: #0070f3;
}

.nav ul li.active a {
    color: #0070f3; /* Active menu item color */
}

.nav ul li ul li:nth-child(4) a{
    color: inherit;
}

.dropdown_menu {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 5.8px 0 #00000040;
    z-index: 1;
    padding: 1.2vw;
    padding-right: 1.5vw;
    border-radius: 1vw;
}

.dropdown_menu.active {
    display: block;
}

.dropdown_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .7vw;
}

.dropdown_menu ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.dropdown_menu ul li a:hover {
    color: #0070f3;
}
