.banner{
  width: 100%;
  height: 49.6vw;
  background-image: url(../public/images/banner-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 1.8vw 13.8vw;
}
.divider{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .7vw;
  background: linear-gradient(90deg, #3FA2F6 0%, #68B2F1 100%);
  z-index: 2;
}

.banner_text h1{
  font-family: var(--heading);
  font-size: 4.26vw;
  font-weight: 600;
  width: 37vw;
  color: #402E7A;
  line-height: 1.05;
  margin-bottom: 1.7vw;
}
.banner_text h1 span{
  color: #3FA2F6;
}

.banner_text p{
  font-family: var(--heading);
  font-size: 1.38vw;
  color: #402E7A;
  width: 34vw;
  margin-left: .5vw;
  margin-bottom: 4vw;
}

.man_banner{
  position: absolute;
  right: 14vw;
  bottom: 0;
  width: 31.7vw;
  z-index: 1;
}
.setting_banner{
  position: absolute;
  right: 20vw;
  z-index: 2;
  bottom: 4vw;
  width: 5vw;
  animation: setting 1.3s infinite linear alternate;
}
@keyframes setting {
  0%{
    transform: translateY(0) translateX(-2%);
  }
  100%{
    transform: translateY(3%) translateX(9%);
  }
}
.medals_banner{
  position: absolute;
  right: 39vw;
  z-index: 2;
  bottom: 13.5vw;
  width: 5vw;
  animation: setting 1.3s infinite linear alternate;
}
.book_banner{
  position: absolute;
  right: 18vw;
  z-index: 2;
  bottom: 20vw;
  width: 5vw;
  animation: setting 1.3s infinite linear alternate;
}
.banner_btn{
  display: flex;
  gap: 1.1vw;
  margin-left: .5vw;
}
.banner_btn button{
  padding: .68vw 1.7vw;
  padding-top: .73vw;
  color: white;
  font-size: 1.2vw;
  border-radius: 100vw;
  outline: none;
  border: .12vw solid transparent;
  background: #402E7A;
  font-weight: 500;
  cursor: pointer;
}
.banner_btn a:nth-child(2) button{
  background-color: transparent;
  border: .12vw solid #3FA2F6;
  color: #3FA2F6;
}

.section1{
  width: 100%;
  padding: 5vw 13.2vw;
}
.section2{
  width: 100%;
  padding: 5vw 13.2vw;
  padding-top: 0;
}
.section1_layout{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  grid-gap: 2.5vw;
}
.heading_home{
  font-size: 2.4vw;
  font-weight: 500;
  color: #3D2B76;
  margin-bottom: 2.5vw;
}
.heading_home span{
  color: #3FA2F6;
}
.section1_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFF;
  border: .12vw solid #3D2B76;
  border-radius: 1.6vw;
  padding: 1vw;
}
.section1_box img{
  width: 9vw;
  margin-bottom: -.3vw;
  margin-top: -.3vw;
}
.section1_box h5{
  font-size: 1.4vw;
  font-weight: 500;
  color: #3D2B76;
  margin-bottom: .95vw;
}
.section1_box button{
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #68B2F1 0%, #3FA2F6 100%);
  border-radius: 100vw;
  border: none;
  outline: none;
  font-size: 1vw;
  font-weight: 300;
  color: white;
  cursor: pointer;
  padding: .6vw;
}
.section1_box a{
  width: 100%;
  display: block;
}

.form_box_layout{
  background-color: #FAFAFF;
  border: .12vw solid #3D2B76;
  border-radius: 1.6vw;
  padding: 2.6vw 2.2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4vw;
  margin-bottom: 2.4vw;
}
.form_box_layout input{
  font-size: 1vw;
  padding: .7vw 1.4vw;
  border-radius: 100vw;
  outline: none;
  border: .1vw solid #3D2B76;
  background: #3D2B763B;
  color:#3D2B76 ;
  box-shadow: 0px 2px 16.5px 0px #0000000F;

}
.form_box_layout input::placeholder{
  color:#3D2B7666 ;
}
.form_box form button{
  margin: auto;
  display: block;
  border: none;
  outline: none;
  font-size: 1vw;
  background: #3FA2F6;
  font-weight: 300;
  color: white;
  padding: .73vw 5.4vw;
  cursor: pointer;
  border-radius: 100vw;
  transition: .4s all;
}
.form_box form button:hover{
  transform: scale(1.06);
}

.section3{
  width: 100%;
  background-image: url(../public/images/section-3.png);
  background-position: center left;
  background-size: cover;
  display: grid;
  grid-template-columns:37% 63%;
  align-items: center;
  padding: 0 13.2vw;
  position: relative;
}
.section3_img img{
  width: 25vw;
  margin-left: -1vw;
  margin-bottom: -.2vw;
}
.section3_text{
  text-align: end;
}
.section3_text h1{
  font-family: var(--heading);
  font-size: 4.26vw;
  font-weight: 500;
  color: white;
  line-height: 1.05;
  margin-bottom: 1.8vw;
}
.section3_text h1 span{
  color: #3FA2F6;
}
.section3_text p{
  color: white;
  font-size: 1.38vw;
  font-weight: 300;
}
.section3_text button{
  margin-top: 3.4vw;
  padding: .68vw 1.7vw;
  padding-top: .73vw;
  color: white;
  font-size: 1.2vw;
  border-radius: 100vw;
  outline: none;
  border: none;
  background: radial-gradient(50% 50% at 50% 50%, #68B2F1 0%, #3FA2F6 100%);
  font-weight: 400;
  cursor: pointer;
}

.divider{
  width: 100%;
  height: .65vw;
  background: linear-gradient(90deg, #3FA2F6 0%, #68B2F1 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.video{
  width: 100%;
  position: relative;
  height: max-content;
}
.video video{
  width: 100%;
}

.images_article{
  width: 100%;
  position: relative;
  height: 12vw;
  border-radius: 1vw;
  overflow: hidden;
}
.images_article img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content_article{
  height: 6vw;
  margin-top: .7vw;
}
.content_article h3{
  font-size: .88vw;
  font-weight: 600;
  color:#3D2B76;
  margin-bottom: .6vw;
  text-align: center;
}
.content_article p{
  font-size: .76vw;
  color: #8c8a96;
  text-align: center;
}