.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 3.8vw 8.3vw;
}
.divider{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .7vw;
  background: linear-gradient(90deg, #3FA2F6 0%, #68B2F1 100%);
  z-index: 2;
}

.banner_text{
  margin-top: 6vw;
}
.banner_text h1{
  font-family: var(--heading);
  font-size: 4.26vw;
  font-weight: 600;
  width: 37vw;
  color: #283535;
  line-height: 1.05;
  margin-bottom: 1.7vw;
}
.banner_text h1 span{
  color: #4B847D;
}

.banner_text p{
  font-family: var(--heading);
  font-size: 1.38vw;
  color: #283535;
  width: 34vw;
  margin-left: .5vw;
  margin-bottom: 4vw;
}

.man_banner{
  position: absolute;
  right: 0;
  top: 0;
  width: 44.6vw;
  z-index: 1;
  display: block;
}
.man_banner_mobile{
  display: none;
}
.setting_banner{
  position: absolute;
  right:15vw;
  z-index: 2;
  bottom: 1vw;
  width: 6.3vw;
  animation: setting 2s infinite linear alternate;
}
.medals_banner{
  position: absolute;
  right: 39.7vw;
  z-index: 2;
  bottom: 21.5vw;
  width: 6.3vw;
  animation: setting2 2s infinite linear alternate;
}
.book_banner{
  position: absolute;
  right: 7.5vw;
  z-index: 2;
  bottom: 23vw;
  width: 6.3vw;
  animation: setting3 2s infinite linear alternate;
}
@keyframes setting {
  0%{
    transform: translateY(0) translateX(-2%);
  }
  100%{
    transform: translateY(3%) translateX(9%);
  }
}
@keyframes setting2 {
  0%{
    transform: translateY(0) translateX(-1%);
  }
  100%{
    transform: translateY(6%) translateX(-6%);
  }
}
@keyframes setting3 {
  0%{
    transform: translateY(0) translateX(1%);
  }
  100%{
    transform: translateY(-7%) translateX(9%);
  }
}
.banner_btn{
  display: flex;
  gap: 1.1vw;
  margin-left: .5vw;
}
.banner_btn button{
  padding: .68vw 1.7vw;
  padding-top: .73vw;
  color: white;
  font-size: 1.2vw;
  border-radius: 100vw;
  outline: none;
  border: .12vw solid transparent;
  background: #4B847D;
  font-weight: 400;
  cursor: pointer;
}
.banner_btn a:nth-child(2) button{
  background-color: transparent;
  border: .12vw solid #F2C38F;
  color: #F2C38F;
}

.section1{
  width: 100%;
  background: linear-gradient(270deg, #4B847D 0%, #21635B 100%);
  padding: 4.3vw 13.7vw;
  margin-top: 2vw;
}
.section2{
  width: 100%;
  padding: 6vw 13.7vw;
  padding-top: 15vw;
  background-image: url(../public/images/bg-section-2.png);
  background-position: center;
  background-size: cover;
}
.section1_layout{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  grid-gap: 2.3vw;
  margin-bottom: 0;
}
.dividerMobile{
  display: none;
}
.heading_section{
  text-align: center;
  margin-bottom: 4.6vw;
}
.heading_section_2{
  margin-bottom: 3vw;
}
.heading_home{
  font-size: 2.8vw;
  font-weight: 600;
  color: white;
  margin-bottom:1.1vw;
}
.heading_home_green{
  color: #4B847D;
}
.subheading_home{
  font-size: 1.27vw;
  color: white;
  font-weight: 300;
}
.subheading_home_green{
  color: #4B847D;
  font-weight: 400;
}
.heading_home span{
  color: #3FA2F6;
}
.section1_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DAC2A8;
  border: .12vw solid #4B847D;
  border-radius: 2.9vw;
  padding: 1vw;
  padding-bottom: 1.13vw;
}
.article_box{
  border: none;
  border-radius: 1.4vw;
  padding: .8vw;
  padding-bottom: 1.1vw;
}
.section1_box img{
  width: 8.6vw;
  margin-bottom: -.2vw;
  margin-top: -.3vw;
}
.section1_box h5{
  font-size: 1.4vw;
  font-weight: 500;
  color: #4B847D;
  margin-bottom: 1.2vw;
}
.section1_box button{
  width: 100%;
  background: #4B847D;
  border-radius: 100vw;
  border: none;
  outline: none;
  font-size: .96vw;
  font-weight: 300;
  color: white;
  cursor: pointer;
  margin: auto;
  padding: .6vw;
}
.article_box button{
  background: #286860;
}
.section1_box a{
  width: 95%;
  display: block;
  text-decoration: none;
}

.form_box_layout{
  background-color: #DAC2A8;
  border: .12vw solid #4B847D;
  border-radius: 1.6vw;
  padding: 2.6vw 2.2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4vw;
  margin-bottom: 3vw;
}
.form_box_layout input{
  font-size: 1vw;
  padding: .8vw 1.5vw;
  border-radius: 100vw;
  outline: none;
  border: none;
  background: #4B847D;
  color:white ;
  box-shadow: 0px 2px 16.5px 0px #0000000F;
}
.form_box_layout input::placeholder{
  color:rgba(255, 255, 255, 0.753) ;
}
.form_box form button{
  margin: auto;
  display: block;
  border: none;
  outline: none;
  font-size: 1.04vw;
  background: radial-gradient(50% 50% at 50% 50%, #DAC2A8 0%, #DAC2A8 100%);
  font-weight: 500;
  color: #4B847D;
  padding: .8vw 5.4vw;
  cursor: pointer;
  border-radius: 100vw;
  transition: .4s all;
  border: .12vw solid #4B847D;
}
.form_box form button:hover{
  transform: scale(1.06);
}

.section3{
  width: 100%;
  background-image: url(../public/images/bg-section-3.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns:37% 63%;
  align-items: center;
  padding: 0 13.7vw;
  padding-bottom: 1.5vw;
  position: relative;
}
.section3_img img{
  width: 25.6vw;
  margin-left: -1vw;
  margin-bottom: -1.1vw;
}
.section3_text{
  text-align: end;
}
.section3_text h1{
  font-family: var(--heading);
  font-size: 4.26vw;
  font-weight: 500;
  color: white;
  line-height: 1.05;
  margin-bottom: 1.8vw;
}
.section3_text h1 span{
  color: #DAC2A8;
}
.section3_text p{
  color: white;
  font-size: 1.38vw;
  font-weight: 300;
}
.section3_text button{
  margin-top: 3.4vw;
  padding: .68vw 1.8vw;
  padding-top: .73vw;
  color: #4B847D;
  font-size: 1.27vw;
  border-radius: 100vw;
  outline: none;
  border: none;
  background: radial-gradient(50% 50% at 50% 50%, #DAC2A8 0%, #DAC2A8 100%);
  font-weight: 400;
  cursor: pointer;
}

.divider{
  width: 100%;
  height: .65vw;
  background: #DAC2A8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.video{
  width: 100%;
  position: relative;
  height: max-content;
}
.video video{
  width: 100%;
}

.section1_bottom{
  margin-top: 0;
  padding: 4.8vw 7.7vw;
  background-image: url(../public/images/bg-section-artikel.png);
  background-position: top center;
  background-size: cover;
}
.images_article{
  width: 100%;
  position: relative;
  height: 14vw;
  border-radius: 1vw;
  overflow: hidden;
}
.images_article img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.content_article{
  height: 7vw;
  margin-top: .7vw;
  padding: .3vw;
  text-align: start;
}
.content_article h3{
  font-size: 1vw;
  font-weight: 600;
  color:#4B847D;
  margin-bottom: .6vw;
}
.content_article p{
  font-size: .9vw;
  color: #283535;
}

.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(44, 44, 44, 0.548);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup.active {
  display: flex;
}
.popupBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 17vw 17vw 0 0;
  border: .4vw solid #DAC2A8;
  margin-top: 6vw;
  transform: scale(0);
  transition: .3s all;
}
.popup.active .popupBox{
  transform: scale(1);
}
.popupBox img{
  width: 23vw;
  margin-top: -9vw;
}
.popupBoxContent{
  background: linear-gradient(270deg, #4B847D 0%, #21635B 100%);
  width: 29vw;
  text-align: center;
  padding: 1.3vw;
  margin-top: -1vw;
  
}
.popupBoxContent p{
  font-size: 2vw;
  color: white;
}


@media (max-width:768px) {
  .banner{
    height: 175vw;
    padding: 0 0;
    text-align: center;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
  }
  .banner_text{
    margin-top: 27vw;
  }
  .banner_text h1{
    font-size: 8vw;
    margin-bottom: 3vw;
    width: 100%;
  }
  .banner_text p{
    font-size: 3.7vw;
    width: 100%;
    padding: 0 9vw;
    margin-left: 0;
    margin-bottom: 6.5vw;
  }
  .banner_btn{
    gap: 2.7vw;
    margin-left: 0;
    justify-content: center;
  }
  .banner_btn button{
    padding: 1.9vw 4.3vw;
    padding-top: 1.9vw;
    color: white;
    font-size: 3.6vw;
    border-radius: 100vw;
    outline: none;
    border: .12vw solid transparent;
    background: #4B847D;
    font-weight: 400;
    cursor: pointer;
  }
  .banner_btn a:nth-child(2) button{
    background-color: transparent;
    border: .12vw solid #F2C38F;
    color: #F2C38F;
  }

  .man_banner{
    position: absolute;
    right: 16vw;
    bottom: 0;
    width: 68vw;
    z-index: 1;
    display: none;
  }
  .man_banner_mobile{
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    width: 85vw;
  }
  .setting_banner{
    bottom: 6vw;
    width: 18vw;
  }
  .medals_banner{
    position: absolute;
    right: 6vw;
    z-index: 2;
    bottom: 53vw;
    width: 18vw;
  }
  .book_banner{
    position: absolute;
    right: inherit;
    left: 13vw;
    z-index: 2;
    bottom: 37vw;
    width: 18vw;
    animation: setting3 2s infinite linear alternate;
  }

  .divider{
    width: 100%;
    height: 1.3vw;
  }
  
  .section1{
    padding: 12vw 5vw;
    margin-top: 0;
  }
  .section1_layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    grid-gap: 3vw;
  }
  .heading_section{
    margin-bottom: 8vw;
  }
  .heading_home{
    font-size: 5.7vw;
    text-align: center;
    margin-bottom: 3vw;
    display: flex;
    justify-content: center;
    gap: 1.4vw;
  }
  .subheading_home{
    font-size: 3.6vw;
  }
  .dividerMobile{
    display: flex;
  }
  .section1_box{
    border: none;
    border-radius: 6vw;
    padding: 2vw;
    padding-bottom: 2.6vw;
  }
  .section1_box img{
    width: 25vw;
    margin-bottom: -.3vw;
    margin-top: -.3vw;
  }
  .section1_box h5{
    font-size: 4.2vw;
    margin-bottom: 2.5vw;
  }
  .section1_box button{
    font-size: 3vw;
    padding: 1.6vw;
  }

  .section2{
    width: 100%;
    padding: 12vw 5vw;
    padding-top: 12vw;
  }
  .form_box_layout{
    border: .15vw solid #4B847D;
    border-radius: 5vw;
    padding: 5vw 5vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    margin-bottom: 8vw;
    width: 100%;
  }
  .form_box_layout input{
    font-size: 4vw;
    padding: 2.9vw 4.8vw;
    border: none;
    background: #4B847D;
  }
  .form_box form button{
    font-size: 4vw;
    padding: 2.5vw 7vw;
  }

  .section3{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 19vw 5vw;
    padding-left: 22vw;
    margin-top: 0;
    padding-top: 18vw;
    position: relative;
    background-position: right;
  }
  .section3_img img{
    width: 60%;
    margin-left: 0;
    margin-bottom: -.2vw;
    margin-top: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: -20%;
  }
  .section3_text{
    z-index: 2;
    margin-bottom: -2vw;
  }
  .section3_text h1{
    width: 100%;
    font-size: 6vw;
    line-height: 1.05;
    margin-bottom: 3vw;
  }
  .section3_text p{
    font-size: 3.8vw;
  }
  .section3_text button{
    margin-top: 6vw;
    padding: 2vw 5vw;
    padding-top: 2vw;
    z-index: 2;
    font-size: 4.2vw;
  }

  .article_box{
    border: none;
    border-radius: 4vw;
    padding: 1.8vw;
    padding-bottom: 2.3vw;
  }

  .images_article{
    height: 32vw;
    border-radius: 3vw;
  }
  .images_article img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .content_article{
    height: 20vw;
    margin-top: 2.5vw;
    padding: 1vw;
  }
  .content_article h3{
    font-size: 3vw;
    margin-bottom: 1.6vw;
    text-align: start;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .content_article p{
    font-size: 2.7vw;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .popupBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30vw 30vw 0 0;
    border: .6vw solid #DAC2A8;
    margin-top: 6vw;
    transform: scale(0);
    transition: .3s all;
  }
  .popup.active .popupBox{
    transform: scale(1);
  }
  .popupBox img{
    width: 58vw;
    margin-top: -16vw;
  }
  .popupBoxContent{
    background: linear-gradient(270deg, #4B847D 0%, #21635B 100%);
    width: 69vw;
    text-align: center;
    padding: 2.4vw;
    margin-top: -1vw;
    
  }
  .popupBoxContent p{
    font-size: 4.5vw;
  }
}